body{
  background-image: url('../img/battlelist.jpeg');
  background-position: right;
}
#list-of-opponents{
  display: flex;
  justify-content: center;
}

.table{
  background-color: white;
  width: 10%;
}

th{
  text-align: center;
}

#levels{
  padding-left: 50px
}

h1{
  background-color: white;
}
