.progress-bar{
  height: 3vh;
  width: 20vw;
  background-color: green;
  border-radius: 5px;
}

#energyBar{
  height: 3vh;
  width: 20vw;
  background-color: blue;
  border-radius: 5px;
}

.main{
  border: 12px;
}
